* {
  margin: auto;
  width: 1500px;
  height: 500px;
}

.flex-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.test-container {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: row;
  outline: 1px solid black;
}

.test-container > div {
  width: 100%;
  align-self: center;
  text-align: center;
  font-size: 2em;
}

.navigation-left {
  height: 80%;
  width: 15%;
  display: flex;
  flex-direction: column;
  outline: 1px solid black;
}

.main-content {
  width: 85%;
  height: 80%;
  outline: 1px solid black;
}

.loginbox {
  display: flex;
  width: 25%;
  margin: auto;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.loginbox button, input {
  margin-top: 0.5em;
  size: 75%;
}