#flex {
    display: flex;
    justify-content: space-evenly;
}

#flex div{
    background: red;
    height: 100px;
    width: 100px;
}

#grid {
    display: grid;
}

#grid div {
    background: blue;
    height: 100px;
    width: 100px;
}