body {
	text-align: center;
}
label, p {
	margin-bottom: .25em;
}
form {
	display: flex;
	flex-direction: column;
	align-items: center;
}
select, input, button {
	margin-bottom: 1em;
	width: fit-content;
}
